{% include 'header.html' %}
    <title>Register</title>
</head>
<body>
    <form action="/store_user" method="POST" id="form-reg" class="form">
        {% with messages=get_flashed_messages() %}
            {% if messages %} 
                {% for message in messages %}
                    <div class="no-access">
                        <div class="alert">
                            <strong>{{message}}</strong>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}  
        <div class="form-title">
            <h2>Register</h2>
            <div class="form-input">
                <label for="name">
                <input type="text" name="name" id="name" placeholder="Name" class="register-input">
                <p id="validationName">Name can not be empty</p>
                <p id="lenghtName">Name must have more than 8 characters</p>
            </div>
            <div class="form-input">
                <label for="username">
                <input type="text" name="username" id="username" placeholder="Username" class="register-input">
                <p id="validationUsername">Username can not be empty</p>
                <p id="lenghtUsername">Userame must have more than 8 characters</p>
            </div>
            <div class="form-input">
                <label for="password">
                <input type="password" name="password" id="password" placeholder="********" class="register-input">
                <p id="validationPassword">Password can not be empty</p>
                
            </div>
            <div class="form-input">
                <label for="repeat-password">
                <input type="password" name="repeat-password" id="repeat-password" placeholder="********" class="register-input">
                <p id="lenghtPassword">Password must have more than 8 characters</p>
                <p id="validationRepeatPassword">Passwords do not match</p>
            </div>

            <div class="form-foot">
                <div class="form-link reg-form-link">
                    <p>Do you already have an account?<a href="/login" class="register-link">Login</a></p>
                </div>
                <p><input type="checkbox" onclick="see()">Show Password</p>
                <div class="form-button">
                    <button type="submit" class="register-button">Register</button>
                </div>
            </div>
        </div>
    </form>
</body>
<script src="{{url_for('static', filename="js/validate.js")}}" charset="utf-8"></script>
<script src="{{url_for('static', filename="js/seePass.js")}}" charset="utf-8"></script>
</html>